@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,700");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #808080;
  font-family: 'Oswald', sans-serif;
  overflow: hidden;
  width: 100vw;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.navbar-logo {
  height: 50px;
}

.line {
  position: fixed;
  left: 50vw;
  width: 2px;
  height: 80px;
  top: 24vh;
  background-color: white;
}
.text-wrap {
  position: absolute;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text-wrap .text {
  cursor: pointer;
  position: relative;
}
.text-wrap span {
  color: #d6d6d6;
  font-size: 100px;
  font-weight: 300;
  padding: 0 2%;
  z-index: 20;
}