

// Desktop

.navbar {
  margin-bottom: 0px;
  margin-bottom: 3px;
}
.navbar-header {
  background: #f8f8f8;
}
.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-brand  {
  max-height: 48px;
}
.navbar-default .navbar-brand {
  background: rgb(180, 105, 105);
  color: white;
}
.navbar-default .navbar-brand:hover {
  background: rgb(180, 105, 105);
  color: white;
  filter: brightness(110%);
}
.navbar-brand:hover {
  filter: brightness(105%);
}

.collapsed {
  background: rgb(187, 187, 187);
}
.navbar-collapse > ul > li:hover {
  border-bottom: 2px solid  rgb(180, 105, 105);
  max-height: 50px;
}

.navbar-default .navbar-nav > li:nth-child(4) > a {
  color: rgb(199, 119, 119);
}
.navbar-default .navbar-nav > li:nth-child(4) > a:hover {
  color: rgb(177, 59, 59);
}
.navbar-collapse > ul > .navbar-active {
  border-bottom: 2px solid  rgb(180, 105, 105);
  background: rgb(238, 238, 238);
  max-height: 50px;
}


// Mobile

.navbar-toggle {
  background: #f8f8f8;
}
.navbar-default .navbar-toggle {
  border: none;
}
.navbar-toggle .icon-bar {
  height: 3px;
}

.in > ul > li:hover {
  border: none;
}
.in > ul > .navbar-active {
  border-bottom: 2px solid  rgb(180, 105, 105);
  background: rgb(238, 238, 238);
  max-height: 50px;
}
.in > ul > .navbar-active:hover {
  border-bottom: 2px solid  rgb(180, 105, 105);
  background: rgb(238, 238, 238);
  max-height: 50px;
}
