@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,700");
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f8f8f8;
  font-family: 'Oswald', sans-serif;
  overflow: scroll;
  width: 100vw;
}

.content-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.line {
  position: fixed;
  left: 50vw;
  width: 2px;
  height: 80px;
  top: 24vh;
  background-color: white;
}
.text-wrap {
  position: absolute;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text-wrap .text {
  cursor: pointer;
  position: relative;
}
.text-wrap span {
  color: #d6d6d6;
  font-size: 100px;
  font-weight: 300;
  padding: 0 2%;
  z-index: 20;
}

button {
  font-weight: 300;
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  position: relative;
  border-radius: 3px;
}
button:hover {
  border: solid gray 1px;
}